
$tomato:#ff6347;
$color1:#ffc107;
$tomat:#ff6f56;
$tomatoLighten:#ffa493;
$dark:#111;
$darkLighten:#a7a7a7;
$orange:#cc4f38;
$primary:#0864c7;
$skyblue:#51a1f6;
$primary1:#2d2d85;
$light-blue: #6969e4;
$white:#ffff;
$grey:grey;
$gray:#605b5b;
$light-grey:#fbfbfb;
$dark-grey:#333333;
$success: green;
$sliderBackground:#626161;
$whatsapp:#25f825;
$red: #ec3b3b;
$aqua: #8df8b1;
$alice: #eee;
$alice-light:#ffffffdf;
$facebook:#4267b2;
$twitter:#111;
$instagram:#e1306e;
$github:#333;
$youtube:#ff0000;
