$spacing-xlg:50px;
$spacing-lg:30px;
$spacing-md:20px;
$spacing-sm:10px;
$spacing-xsm:2px;
$flex: flex;
$none: none;
$grid: grid;
$block: block;
$border:none;
$borderRadius-lg:20px;
$borderRadius-md:10px;
$borderRadius-sm:5px;
$margin:0;
$padding:0;
$justifyContent-a:space-around;
$justifyContent-b:space-between;
$justifyContent-e:flex-end;
$justifyContent-even:space-evenly;
$justifyContent-center:center;
$justifyContent-s:flex-start;
$marginTop-lg:20px;
$marginTop-md:10px;
$marginTop-sm:5px;
$margiLeft:30px;
$margiRight:30px;
$width-lg:100%;
