@import "../Abstracts/colors";
@import "../Abstracts/mixins";
@import "../Abstracts/variables";


.contact-container{
    margin-top: 90px;
    margin-bottom: 200px;
    width: 100%;
  
}
.contact-footer-compatment{
    width: 100%;
    padding-top: 800px;
}